body {
    background-color: #1a1c2c;
}
a {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
div {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%
    
}